:root {
    --branco--principal: white;
    --fundo--preto: black;
    --dourado-borda: #d9ad26;
    --dourado-letra: #bf930d;
    --cinza-video: rgb(22, 22, 22);
    --dourado-borda: #ebc34d;
}

body {
    color: var(--branco--principal);
    background: var(--fundo--preto);
    margin: 0px;
    font-family: "SUSE", sans-serif;
}

header {
    border-bottom: solid 2px var(--dourado-borda);
    padding: 20px;
    font-size: 32px;
    color: var(--dourado-letra);
}

.chamada {
    background: var(--cinza-video);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}

h1 {
    font-size: 40px;
}

p {
    font-size: 20px;
}

img {
    height: 200px;
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
}

.categoria-videos img {
    opacity: 0.5;
    height: 200px;
}

.categoria-videos img:hover {
    opacity: 1.0;
    border: 1px solid var(--dourado-borda);
}

.categoria h2 {
    color: var(--dourado-letra);
}